<!DOCTYPE HTML>
<html>
<head>
    <title>Tambah Dosen</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <h3>Tambah Dosen</h3>
    <a href="/dosen">Kembali</a><br><br>
    <form action="/dosen/store" method="POST">
        <label for="nidn">NIDN:</label><br>
        <input type="text" id="nidn" name="nidn" require><br>
        <label for="nama">Nama:</label><br>
        <input type="text" id="nama" name="nama" require><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
